
.Button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: 1px black solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    margin-top: 20px;
   
}

.Button:hover{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: 1px grey solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: grey;
   
}

.MainDiv{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.MainDiv ul{
    width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
    list-style-type: none;
    padding-inline-start: 0px;
}



.MainDiv li{
    padding:20px;
    text-decoration: none;
}
  




.Button:focus{
    height: 50px;
    width: 200px;
    border-radius: 25px;
    outline: none;
}


.Button:disabled{
    opacity: 50%
}
  

