.MainDiv{
    border:  1px solid black;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
}







.Vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.Horizontal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}



.PlusButton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px black solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}



.PlusIcon{
    height: 45;
    width: 45;
    font-size: 45px;
    
}
.PlusIcon:hover{
    color: grey;
    
}

.PlusButton:focus{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
}


.PlusButton:disabled{
    opacity: 50%
}
  



