.BookDetails{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    border:1px solid gray;
    border-radius: 20px;
    padding: 30px;
}





.Title{
    color: gray;
    text-decoration: none;
    font-size: 70px;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    margin-right: 15px;
}

.Details{
    color: gray;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    margin-right: 15px;
}


/*.NavLink:hover,
.NavLink:active,
.NavLink:active
{

   color: black;
}*/

.Vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.Horizontal{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}



.EditButton{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px transparent solid;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}

.UserImage{
  
    margin: 0;
    padding: 0;
    border-color: gray;
    border-width: 1px;
    border-radius: 200px;
    border-style: solid;

    height: 400px;
    width: 400px;
    margin-right: 20px;
    overflow: hidden;
}

.EditIcon{
    height: 45;
    width: 45;
    font-size: 45px;
    
}
.EditIcon:hover{
    color: grey;
    
}

.EditButton:focus{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
}

.EditButton img{
    height: 100%;
    width: 100%;
}

.EditButton:disabled{
    opacity: 50%
}
  



