.NavigationItem{
    margin: 10px 10px;
    box-sizing : border-box;
    display: block;
}


.NavigationItemSignOut{
    width: 100%;
    flex-flow: row;
    justify-content: flex-end;
}





.NavigationItem a{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
}

.Signout{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    white-space: nowrap;
}

.Signout:hover,
.Signout:active,
.Signout.active{
    color: white;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active
{
    color: white;
   
}


.NavigationItems{
    margin: 0;
    padding: 0;
    list-style:none;
    display:flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    flex-flow: row;
}


.Nav{
    width: 100%;
}





.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    flex-flow: row;
    z-index: 90;
}

.Toolbar nav{
    height: 100%;
}

.Logo{
    height: 80%;
    border-radius: 5px;
    background-color: white;
    border-width: 1px;
    border-color: black;

}

.Logo img {
    height: 100%;
}

.active{
    color: white;
}


@media (max-width: 499px){
    .DesktopOnly{
        display:none;
    }
}