.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Modal button{
  border: 1px black solid;
  font-size: 30px;
  border-radius: 10px;
  margin:20px;
  width: 100px;
  
}

.Modal button:focus{
  outline: none;
}

.Modal button:active{
  background: grey
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
